<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ozu.io</title>
    <meta name="description" content="ozu.io - A Drunken URL Shortener">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400italic,400,700" type="text/css">
    <link rel="stylesheet" href="/static/furtive.min.css">
    <link rel="stylesheet" href="/static/main.css">
  </head>

  <body>
